$grid-columns: 60;
$grid-breakpoints: (
  xs: 0,
  sm: 567px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1900px,
);

$container-max-widths: (
  sm: 567px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1900px,
);
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$root: rgb(0, 0, 0);
$over-root: rgb(17, 17, 17);
$primary-custom: rgb(255, 0, 64);
$primary: rgb(0, 74, 213);
$green: #00db54;
$orange: #ff9d00;

$main-btn-height: 44px;
$main-btn-line-height: 40px;

.bg-white-10 {
  background: rgba(255, 255, 255, 0.1);
}

.bg-white-5-10 {
  background: rgba(255, 255, 255, 0.05);
  transition: background 0.3s;
}

.bg-white-5-10:hover {
  background: rgba(255, 255, 255, 0.1);
}

.bg-root {
  background: $root;
}

.bg-over-root {
  background: $over-root;
}

.bg-over-root-lighter {
  background: lighten($color: $over-root, $amount: 10);
}

.bg-custom-primary {
  background: $primary-custom !important;
}

.text-green {
  color: $green !important;
}

.text-orange {
  color: $orange !important;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Montserrat, Helvetica, Arial, sans-serif !important;
  background: $root;
  font-size: 14px;
}

.bg-image {
  background-size: cover;
  background-position: center;
}

.font-weight-500 {
  font-weight: 500;
}

.text-light {
  color: rgb(202, 202, 202) !important;
}

.btn-reaction-normal {
  height: 30px;
  @extend .px-2;
  border-radius: 12px;
}
.btn-reaction-small {
  height: 20px;
  font-size: 12px;
  @extend .px-1;
  border-radius: 7px;
}

.btn-reaction {
  user-select: none;
  cursor: pointer;
  color: white;

  transition: background 0.3s;
}

.btn-reaction:hover {
  background: lighten($color: $over-root, $amount: 20);
}

.btn-reaction:active {
  background: $over-root;
}

.btn-reaction-selected {
  user-select: none;
  cursor: pointer;
  border: 1.5px solid $primary;
  color: white;
  background: $primary;
  transition: background 0.3s;
}

.rounded-left {
  border-radius: 45px 0 0 45px !important;
}

.rounded-right {
  border-radius: 0 45px 45px 0 !important;
}

.table-btn-selected {
  border: none !important;
  background: $primary-custom !important;
  color: white !important;
}

.table-btn {
  line-height: $main-btn-line-height;
  height: $main-btn-height;
  border-radius: 4px;
  border: 1px solid $over-root;
  user-select: none;
  cursor: pointer;
  transition: background 0.3s;
  text-align: center;
  @extend .px-3;
}

.btn-custom {
  line-height: $main-btn-line-height;
  height: $main-btn-height;
  border-radius: 4px;
  user-select: none;
  cursor: pointer;
  transition: background 0.3s;
  text-align: center;
}

.btn-custom-iconic {
  background: $primary;
  color: white;
  width: 44px;
}

.btn-custom-iconic:hover {
  background: darken($color: $primary, $amount: 10);
}

.btn-custom-iconic:active {
  background: darken($color: $primary, $amount: 20);
}

.btn-custom-primary {
  color: white;
  border: 2px solid $primary-custom;
  background: $primary-custom;
}

.btn-custom-primary:hover {
  border: 2px solid darken($color: $primary-custom, $amount: 10);
  background: darken($color: $primary-custom, $amount: 10);
}

.btn-custom-primary:active {
  border: 2px solid darken($color: $primary-custom, $amount: 20);
  background: darken($color: $primary-custom, $amount: 20);
}

.btn-custom-secondary {
  border: 2px solid $primary-custom;
  color: $primary-custom;
}

.btn-custom-secondary:hover {
  background: $primary-custom;
  color: white;
}

.btn-custom-secondary:active {
  background: darken($color: $primary-custom, $amount: 20);
}

.btn-long {
  min-width: 220px;
  @extend .text-truncate, .px-5;
}

.btn-small {
  min-width: 152px;
  @extend .text-truncate, .px-3;
}

.btn-xsmall {
  min-width: 151px;
  @extend .text-truncate, .px-3;
}

.btn-natural {
  @extend .px-3;
}

.logo {
  font-family: Poppins;
  font-weight: 600;
}

.btn-tertiary {
  cursor: pointer;
  user-select: none;
  line-height: $main-btn-height;
  height: $main-btn-height;
  text-align: center;
  transition: all 0.3s;
  border-radius: 4px;
  @extend .px-3;
}

.btn-tertiary:hover {
  background: rgba(0, 0, 0, 0.4);
}

.btn-tertiary-selected {
  cursor: pointer;
  user-select: none;
  border-bottom: 3px solid $orange;
  line-height: $main-btn-height;
  height: $main-btn-height;
  text-align: center;
}

.modal-container {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  animation-name: fadein;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.trailer-player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.trailer-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.square-20 {
  width: 20px;
  height: 20px;
}

.square-30 {
  width: 30px;
  height: 30px;
}

.square-40 {
  width: 40px;
  height: 40px;
}

.square-50 {
  width: 50px;
  height: 50px;
}

.square-60 {
  width: 60px;
  height: 60px;
}

.square-64 {
  width: 64px;
  height: 64px;
}

.square-70 {
  width: 70px;
  height: 70px;
}

.square-100 {
  width: 100px;
  height: 100px;
}

.simplebar-scrollbar::before {
  background: white !important;
}

.modal-closer {
  cursor: pointer;
  user-select: none;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  z-index: 99;
  height: 40px;
  display: flex;
  @extend .flex-center;
  border-radius: 4px;
  transition: background 0.3s;
}

.modal-closer:hover {
  background: rgba(255, 255, 255, 0.3);
}

.cursor-pointer {
  cursor: pointer;
}

.user-select-none {
  user-select: none;
}

.textarea {
  background: $over-root;
  transition: all 0.3s;
  border-radius: 4px;
  padding: 10px;
  outline: none !important;
  @extend .text-light;
}

.textarea:hover {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5) !important;
}

.textarea:focus {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5) !important;
}

.textarea::placeholder {
  @extend .text-muted;
}

.input:hover {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5) !important;
}

.input:focus {
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5) !important;
}

.input {
  line-height: 40px;
  border-radius: 0 50px 50px 0;
  background: rgba(255, 255, 255, 0.2);
  outline: none;
  border: none;
  padding: 0 50px 0 20px;
  transition: all 0.3s;
  color: white;
}

.input::placeholder {
  @extend .text-muted;
}

.input-prepend-select {
  line-height: 40px;
  height: 40px;
  border-radius: 50px 0 0 50px;
  background: white;
  min-width: 150px;
  padding: 0 20px;
}

.popover-item {
  line-height: 50px;
  @extend .px-3;
  text-align: left;
  transition: all 0.3s;
  user-select: none;
  cursor: pointer;
}

.popover-item:hover {
  background: $primary-custom;
  color: white;
}

.popover-item:active {
  background: darken($color: $primary-custom, $amount: 10);
}

.tippy-tooltip {
  padding: 0 !important;
}

.h0 {
  font-size: 65px;
  font-weight: 800;
}

.login-rounded {
  border-radius: 4px;
}

.text-title-xl {
  font-size: 24px;
  font-weight: 600;
}

.text-title-lg {
  font-size: 16px;
  font-weight: 600;
}

.text-title-md {
  font-size: 14px;
  font-weight: 600;
}

.text-title-sm {
  font-size: 14px;
  font-weight: 600;
}

.text-lift {
  font-size: 1.4rem;
}

@media only screen and (max-width: 567px) {
  .login-rounded {
    border-radius: 0 !important;
  }
  .movies-list-image {
    width: 100px;
  }
}

.profile-stats-title {
  justify-content: center;
}

@media only screen and (min-width: 567px) {
  .text-title-xl {
    font-size: 28px;
  }

  .text-title-lg {
    font-size: 18px;
  }

  .text-title-md {
    font-size: 16px;
  }
  .text-lift {
    font-size: 1.6rem;
  }
}

.img-cover {
  background: rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
}

.img-cover:hover {
  background: rgba(0, 0, 0, 0.5);
}

.img-clickable {
  cursor: pointer;
  transition: opacity 0.3s;
}

.img-clickable:hover {
  opacity: 0.7;
}

@media only screen and (min-width: 992px) {
  .text-title-xl {
    font-size: 36px;
  }

  .text-title-lg {
    font-size: 26px;
  }
  .text-lift {
    font-size: 24px;
  }
}

.text-light-white {
  @extend .text-light;
  transition: color 0.3s;
}

.text-light-white:hover {
  @extend .text-white;
}

.text-muted-light:hover {
  @extend .text-light;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-12 {
  font-size: 12px;
}

.text-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bg-movie-over-root {
  background: black;
  @include media-breakpoint-up(lg) {
    background: $over-root;
  }
}

.text-movie-muted {
  color: #cacaca;
  @include media-breakpoint-up(lg) {
    color: #6c757d;
  }
}

.text-muted-light {
  transition: color 0.3s;
  color: #cacaca;
  @include media-breakpoint-up(lg) {
    color: #6c757d;
  }
}

.bg-transition {
  transition: background 0.3s;
}

.textarea-light {
  background: white;
  transition: all 0.3s;
  border: 1px solid rgb(223, 225, 230);
  box-shadow: 0 0 0 1px rgb(223, 225, 230) !important;
  border-radius: 4px;
  padding: 10px;
  outline: none !important;
  resize: none;
  @extend .text-dark;
}

.textarea-light::placeholder {
  color: rgb(192, 192, 203);
}

.textarea-light:hover {
  box-shadow: 0 0 0 1px rgba($color: $primary-custom, $alpha: 0.7) !important;
}

.textarea-light:focus {
  box-shadow: 0 0 0 3px rgba($color: $primary-custom, $alpha: 0.7) !important;
}

.input-dark-selected {
  height: $main-btn-height;
  line-height: $main-btn-line-height;
  background: $primary-custom;
  outline: none;
  color: white;
  border-radius: 2px;
  transition: all 0.3s;
}

.input-dark[type="text"] {
  border: 2px solid lighten($color: $over-root, $amount: 40);
}

.input-dark {
  color: white;
  height: $main-btn-height;
  line-height: $main-btn-line-height;
  background: lighten($color: $over-root, $amount: 10);
  outline: none;
  border-radius: 2px;
  transition: all 0.3s;
}

.input-dark::placeholder {
  color: rgb(223, 223, 223);
}

.input-dark:hover {
  background: lighten($color: $over-root, $amount: 20);
}

.input-dark:focus {
  box-shadow: 0 0 0 3px lighten($color: $over-root, $amount: 40) !important;
}

.input-light-gray {
  height: $main-btn-height;
  line-height: $main-btn-line-height;
  border: 1px solid rgb(192, 192, 203);
  background: white;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgb(160, 160, 160) !important;
  transition: all 0.3s;
}

.input-light-gray::placeholder {
  color: rgb(192, 192, 203);
}

.input-light-gray:hover {
  box-shadow: 0 0 0 1px rgb(160, 160, 160) !important;
}

.input-light-gray:focus {
  box-shadow: 0 0 0 3px rgb(160, 160, 160) !important;
}

.input-light {
  height: $main-btn-height;
  line-height: $main-btn-line-height;
  border: 1px solid rgb(223, 225, 230);
  background: white;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgb(223, 225, 230) !important;
  transition: all 0.3s;
}

.input-light::placeholder {
  color: rgb(192, 192, 203);
}

.input-light:hover {
  box-shadow: 0 0 0 2px lighten($color: $primary-custom, $amount: 5) !important;
}

.input-light:focus {
  box-shadow: 0 0 0 4px lighten($color: $primary-custom, $amount: 5) !important;
}

.input-light-selected {
  height: $main-btn-height;
  line-height: $main-btn-line-height;
  border: 1px solid $primary-custom;
  background: $primary-custom;
  color: white;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgb(223, 225, 230) !important;
  transition: all 0.3s;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

.bg-dark-lighter {
  background: lighten($color: #343a40, $amount: 10);
}

.input-search-admin {
  background: lighten($color: #343a40, $amount: 10);
  border: none;
  outline: none;
  padding: 0 20px 0 54px;
  line-height: $main-btn-height;
  height: $main-btn-height;
  border-radius: 45px;
  color: white;
}

.input-search-admin::placeholder {
  color: white;
}

.zindex-99 {
  z-index: 99;
}

.zindex-0-1 {
  animation-name: zindex-0;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes zindex-0 {
  from {
    z-index: 99;
  }
  to {
    z-index: 0;
  }
}

.table-input {
  height: $main-btn-height;
  line-height: $main-btn-line-height;
  border: 1px solid rgb(223, 225, 230);
  background: white;
  outline: none;
  border-radius: 0 45px 45px 0;
  transition: all 0.3s;
}

.table-input::placeholder {
  @extend .text-dark;
}

.table-input-prepend-select {
  height: $main-btn-height;
  line-height: $main-btn-line-height;
  border: 1px solid rgb(223, 225, 230);
  background: rgb(236, 236, 236);
  outline: none;
  border-radius: 45px 0 0 45px;
  transition: all 0.3s;
}

.table-header,
.table-footer {
  background: white;
  vertical-align: middle !important;
  font-weight: 600;
}

.fb-btn {
  line-height: 40px;
  height: 40px;
  transition: all 0.3s;
  padding: 0 20px !important;
  border-radius: 4px;
  cursor: pointer;
}

.fb-btn:hover {
  color: white;
  background: $primary-custom;
}

.react-time-picker__wrapper {
  border: none !important;
}

.DayPickerInput {
  width: 100% !important;
}

.line-height-60 {
  line-height: $main-btn-height;
}

.input-light-resize {
  border: 1px solid rgb(223, 225, 230);
  background: white;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgb(223, 225, 230) !important;
  transition: all 0.3s;
}

.input-light-resize::placeholder {
  color: rgb(192, 192, 203);
}

.input-light-resize:hover {
  box-shadow: 0 0 0 1px rgba($color: $primary-custom, $alpha: 0.7) !important;
}

.content-container {
  max-width: 1200px !important;
}

.toast-close-icon {
  width: 35px !important;
  height: 35px !important;
  @extend .flex-center, .d-flex;
  border-radius: 50%;
  cursor: pointer;
  background: lighten($color: $over-root, $amount: 20);
  transition: all 0.3s;
}

.toast-close-icon:hover {
  background: lighten($color: $over-root, $amount: 10);
}

.toast-title {
  font-weight: 600 !important;
  color: lighten($color: $primary, $amount: 10);
}

.toast-pro {
  background: lighten($color: $over-root, $amount: 5);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.38);
  overflow: hidden;
  position: fixed;
  left: 50px;
  bottom: 50px;
  transition: all 0.5s;
  z-index: 99;
}

.toast-pro-title {
  font-weight: 500;
}

.scale-transition {
  transition: all 0.3s;
  transform: scale(1);
}

.scale-transition:hover {
  transform: scale(1.2);
}

.loader,
.loader:after {
  border-radius: 50%;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 5px solid rgba(255, 255, 255, 0.2);
  border-right: 5px solid rgba(255, 255, 255, 0.2);
  border-bottom: 5px solid rgba(255, 255, 255, 0.2);
  border-left: 5px solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.f5 {
  font-size: calc(0.9em + 0.4vw);
}

.font-size-14 {
  font-size: 14px !important;
}

.link-primary {
  cursor: pointer;
  transition: color 0.3s;
}

.link-primary:hover {
  color: $primary-custom;
}

.cover-255-233 {
  background: rgb(255, 255, 255);
  transition: background 0.3s;
}

.cover-255-233:hover {
  background: rgb(230, 230, 230);
}

.play-btn {
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.3);
  transition: background 0.3s;
}

.play-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}

.pg-viewer-wrapper {
  overflow: auto !important;
}
